.main-tittle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 3px 3px 0 black;
}

.main-tittle.-second {
    text-align: center;
    color: #fff;
    text-shadow: none;
}